body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.dp {
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: 300px;
}

.mypic {
  width: 250px;
  border-radius: 50%;
}

h1 {
  width: 30%;
  margin: 0 auto 20px auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  font-weight: lighter;
  color: #45b29a;
  line-height: 1.5;
}

.software-developer {
  color: #45b29a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
  display: inline-block;
}
p {
  width: 20%;
  margin: 0 auto;
  color: #545454;
  line-height: 2;
}
.software {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 200px;
  position: relative;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 130px;
}
.skill-row1 {
  position: relative;
  padding-top: 130px;
  text-align: left;

}
.cook {
  position: absolute;
  left: 600px;
  top: 15px;
}
.cook1 {
  width: 30%;
  position: absolute;
  left: 600px;
  top: 65px;
  line-height: 2;
}
.cooking-gif1 {
  width: 70px;
  position: relative;
  bottom: 200px;
  left: 350px;
  display: inline-block;
}
.cooking-gif2 {
  width: 150px;
  position: relative;
  left: 300px;
  bottom: 100px;
  display: inline-block;
}
.reading-gif1 {
  width: 10%;
  position: absolute;
  right: 200px;
}
.reading-gif2{
  width: 8%;
  position: absolute;
  right: 50px;
}
.read {
  position: relative;
 bottom: 100px;
 right: 90px;
}
.read1 {
  text-align: left;
  width: 30%;
  position: relative;
  bottom: 105px;
  left: 68px;
  line-height: 2;
}
.GK {
  text-decoration: underline;
}
.GK1 {
  width: 30%;
  line-height: 5;
}
.booklover {
  line-height: 1.5;

}
.bottom-container {
  background-color: #E4F9F5;
  margin: 0;
  padding-bottom: 20px;
}
.btn {
  line-height: 2;
}
.footer-link1 {
  line-height: 2;
  position: absolute;
  left: 550px;
}
.footer-link2 {
  line-height: 2;
  text-align: center;
}
.footer-link3 {
  line-height: 2;
  position: absolute;
  right: 550px;
}
